* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1e293b;
    background: #f8fafc;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
}

.header-top{
    display: flex;

}

.heading h1 {
    flex: 1;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
}

.heading p {
    font-weight: 400;
    font-size: 1.5rem;
    color: #64748b;
}

.summary-card {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.summary-item {
    flex: 1;
    padding: 28px;
    background: white;
    text-align: center;
    font-weight: 550;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
    transition: 0.2s;
}

#balance-card {
    color: rgb(59, 91, 251);
}

#income-card {
    color: rgb(20, 212, 20);
}

#expense-card {
    color: rgba(215, 19, 12, 0.971);
}

#balance-card:hover {
    background-color: rgb(71, 101, 250);
    color: white;
}

#income-card:hover {
    background-color: rgb(20, 212, 20);
    color: white;
}

#expense-card:hover {
    background-color: rgba(215, 19, 12, 0.971);
    color: white;
}

.summary-card div:hover {
    transform: translateY(-3px)
}

.hero-section {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

#transactionForm {
    flex: 1.2;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}

#transactionHistory {
    flex: 1.8;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}

#transactionForm form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#transactionForm label {
    font-weight: 550;
    font-size: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 3px;
    align-items: center;
}

.radio-option {
    display: flex;
    gap: 6px;
    text-align: center;
}

#transactionForm input[type="text"],
#transactionForm input[type="number"],
#transactionForm select {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    font-size: 1rem;
    border: 1px solid #cbd5e1;
}

#transactionForm input:focus,
#transactionForm select:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

#transactionForm button {
    color: white;
    border-radius: 12px;
    border: none;
    padding: 12px;
    font-size: 1rem;
    font-weight: 550;
    background: #2563eb;
    cursor: pointer;
    transition: 0.2s;
}

#transactionForm button:hover {
    background: #0538a8e6;
}

#transactionHistory h2 {
    margin-bottom: 20px;
}

#transactionList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 500px;
    overflow-y: auto;
}

.transaction-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    background-color: white;
    justify-content: space-between;
    padding: 16px;
}
.transaction-card{
    transition:0.2s;
}

.transaction-card:hover{
    transform:translateY(-2px);
}

.transaction-top,
.transaction-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.cardAmount {
    flex: 1;  
    background: none;
}
.cardAmount.credit{
   color: rgb(20, 212, 20);
}
.cardAmount.debit{
    color: rgba(215, 19, 12, 0.971);
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    opacity: 0.7;
}

.delete-btn:hover {
    transform: scale(1.1);
    opacity: 1;
}

.cardCategory {
    background:#e2e8f0;
    padding:4px 8px;
    border-radius:999px;
}

.cardType {
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 10px;

}
.cardType.credit,.cardCategory.credit-category{
    color: rgb(20, 212, 20);
    background-color: rgba(20, 212, 20, 0.15);
}

.cardType.debit,.cardCategory.debit-category{
    color: rgba(202, 29, 23, 0.971);
    background-color: rgba(215, 19, 12, 0.15);
}
 
 
.dark-mode{
    background: #0f172a;
    color: #f8fafc;
}
.dark-mode #transactionForm,
.dark-mode #transactionHistory{
    background: #1e293b;
}
.dark-mode #transactionHistory h2{
    color: #f8fafc;
}
.dark-mode .transaction-card{
    background:#1a2742;
}
.dark-mode .cardCategory{
    color: #1e293b;
}
.dark-mode .cardCategory.credit-category{
    color: rgb(17, 176, 17);
    background-color: rgba(20, 212, 20, 0.15);
}
.dark-mode .cardCategory.debit-category{
    color: rgba(202, 29, 23, 0.971);
    background-color: rgba(148, 27, 22, 0.15);
}
#theme-btn{
    border:none;
    border-radius: 100%;
    cursor: pointer;
     
    width: 36px;
    height: 36px;

    background-color: rgba(255,255,255,0.1);
}
#theme-btn:hover{
    transform:scale(1.05);
}
.dark-mode #theme-btn{
    background-color: rgba(255,255,255,0.08);
}
.dark-mode .summary-card div{
    background: #1e293b;
}
.dark-mode input,
.dark-mode select{
    background: #334155;
    color: #f8fafc;
    border-color: #475569;
}
.dark-mode input::placeholder{
    color: #94a3b8;
}
@media (max-width:768px) {
    .summary-card {
        flex-direction: column;
    }

    .hero-section {
        flex-direction: column;
    }
}